APP_ENV=development
# SQL Server connection used by the existing delpro-sql Docker container.
# Set DATABASE_USER and DATABASE_PASSWORD locally; never commit your .env file.
DATABASE_HOST=localhost
DATABASE_PORT=1433
DATABASE_NAME=master
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_ODBC_DRIVER=ODBC Driver 18 for SQL Server
DATABASE_ENCRYPT=yes
DATABASE_TRUST_SERVER_CERTIFICATE=no
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000
LLM_PROVIDER=
LLM_API_KEY=
VECTOR_STORE_PROVIDER=
