APP_ENV=development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=dairy_intelligence
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8000
LLM_PROVIDER=
LLM_API_KEY=
VECTOR_STORE_PROVIDER=

